/**
 * CSS do layout.
 * Folhas de estilo complementares do template.
 */

html,
body,
input,
textarea,
select {
    font-family: "Roboto", sans-serif;
}


body {
    background-image: url('/static/img/background1.jpg');
    background-attachment: fixed;
    background-color: rgb(15, 182, 224);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    background-color: rgba(255, 255, 255, .9);
}

a {
    text-decoration: none;
    color: rgb(15, 182, 224);
}

a:hover {
    text-decoration: none;
    color: rgb(0, 68, 255);
}

footer a {
    text-decoration: none;
    color: var(--bs-light);
}

footer a:hover {
    color: var(--bs-info);
}

.border-md-top-0 {
    border-top: 1px solid grey;
}

@media screen and (min-width: 768px) {
    .border-md-top-0 {
        border: none !important;
    }
}

.avatar-sm {
    width: 2rem;
    height: 2rem;
}

.footer-nav a {
    display: flex;
    align-items: center;
}

.footer-nav i {
    font-size: 1.5rem;
    margin-right: .5rem;
}

#acceptCookies {
    z-index: 1050;
    font-size: small;
    opacity: 90%;
}